*{
	margin:0;
	padding: 0;
	font-family: all;
}
div#nav div.nav_left img
{
	width:300px;
	height:100px;
	/*pone nae sar 1 tan htl pyw chin loc*/
}
div#nav div.nav_right
{
	float: right;
	margin-top: 20px;
}
div.nav_right a
{
	text-decoration: none;
	text-align: center;
	font-size: 10px;
	padding: 14px 20px;
	color: blue;
}
.tbl
{
	margin-right: 0rem;
	margin-left: 0rem;
}
